.bannerBg{
    background-color: #264653;
}
.btn-orange{
    background-color: #E76F51;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 10.5rem;
}
.text-red{
    color: #E76F51;
}

/* grayscale Add with hover*/

.grayScale{
    filter: grayscale(100);
    width: 18rem;
    height: 15.1875rem;
}
.grayScale:hover{
    filter: grayscale(0);
    transition: 1s;
}
.grayScale2{
    filter: grayscale(0);
    width: 18rem;
    height: 15.1875rem;
}
.grayScale2:hover{
    filter: grayscale(100);
    transition: 1s;
}